@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC ASP.NET Case Study</h1>
    <p class="lead">Demonstrating the Model View Control Design Pattern.</p>
</div>

<div class="row">
   
</div>